.container {
    display: flex; 
    width: 90%; 
    margin: auto;
}

.logo {
    flex: 0.5
}

.menu {
    display: flex; 
    flex: 1;
    font-size: 22px;
}

.menuItem {
    display: flex; 
    flex: 1; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menuItem:hover {
    color: white;
}

.button {
    flex: 1; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.loginButtonStyle {
    background-color: white; 
    border: none;
    padding: 10px 60px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.loginButtonStyle:hover {
    background-color: #ddd;
}

.getStartButtonStyle {
    background-color: darkblue; 
    color: white;
    border: none;
    padding: 10px 60px;
    border-radius: 4px;
    cursor: pointer;
}

.getStartButtonStyle:hover {
    background-color: #ddd;
    color: black;
}