.navbarContainer {
    display: flex; 
    width: 90%; 
    margin: auto;
}

.navbarIcon {
    flex: 1;
    display: none; 
    align-items: center;
    justify-content: flex-end;
}

.logo {
    flex: 0.5
}

.menu {
    display: flex; 
    flex: 1;
    font-size: 18px;
}

.menuItem {
    display: flex; 
    flex: 1; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menuItem:hover {
    color: white;
}

.button {
    flex: 1; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.loginButtonStyle {
    background-color: white; 
    border: none;
    padding: 10px 60px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.loginButtonStyle:hover {
    background-color: #ddd;
}

.getStartButtonStyle {
    background-color: darkblue; 
    color: white;
    border: none;
    padding: 10px 60px;
    border-radius: 4px;
    cursor: pointer;
}

.getStartButtonStyle:hover {
    background-color: #ddd;
    color: black;
}

/* mobile device */
@media screen and (max-width: 599px) {

}

/* ipad or macbook */
@media screen and (max-width: 899px) {
    .menu {
        display: none;
    }

    .button {
        display: none;
    }

    .navbarIcon {
        display: flex;
    }
}

/* notebook or desktop */
@media screen and (max-width: 1200px) {

}